/synch/.settings/
/synch/target/
/synch/synchrepos/
/synch/dependency-reduced-pom.xml
synch/.idea/workspace.xml
synch/.idea/vcs.xml
synch/.idea/misc.xml
synch/.idea/encodings.xml
synch/.idea/compiler.xml
synch/.idea/.name
TOKENS.txt
2019-01-02.dump
synch/src/.vscode/launch.json
